<style>
  #grievance {
    width: 100%;
    max-width: 800px; /* Set a max-width for responsiveness */
    margin: 30px auto;
    padding: 20px;
    background-color: #f5f5dc;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Add subtle shadow for modern look */
  }

  #grievance div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .form-check-label {
    transform: translate(5px, -20px);
  }
  @media (max-width: 768px) {
    #grievance {
      padding: 20px 10px;
      width: 90%;
    }

    .form-label,
    .form-check-label {
      font-size: 0.9em;
    }

    .form-control {
      font-size: 0.9em;
    }

    .btn {
      font-size: 1em;
    }
    .form-check-label {
      transform: translate(5px, -17px);
    }
  }

  @media (max-width: 480px) {
    #grievance {
      padding: 15px 5px;
    }

    .form-label,
    .form-check-label {
      font-size: 0.8em;
    }

    .form-control {
      font-size: 0.8em;
    }

    .btn {
      font-size: 0.9em;
    }
  }
</style>

<% layout('layouts/boilerplate')%>
<form action="" method="" id="grievance">
  <div class="mb-3">
    <label for="subject" class="form-label">Subject</label>
    <input type="text" class="form-control" id="subject" />
  </div>
  <div>
    <label for="queryType" class="form-label">Choose Query Type: </label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
      />
      <label class="form-check-label" for="flexRadioDefault1">
        Query for Ticket
      </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault2"
      />
      <label class="form-check-label" for="flexRadioDefault2">
        Query for Order
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault3"
      />
      <label class="form-check-label" for="flexRadioDefault3">
        Utility Transaction
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault4"
      />
      <label class="form-check-label" for="flexRadioDefault4">
        Portal Issue
      </label>
    </div>
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Message Box</label>
    <textarea class="form-control" id="message" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
