<style>
  li + img {
    margin: 40px;
  }
</style>
<% layout('layouts/boilerplate')%>
<div class="container-fluid p-5">
  <h3>HOW TO POST AD IN CLICKINDIA.COM</h3>
  <ul class="fs-5">
    <li>
      <b>Step 1:</b>Before a posting your ads at
      <a href="https://www.clickindia.com/">https://www.clickindia.com/</a>
      First you have to register using this link
      <a href="https://www.clickindia.com/login.php?p=pa"
        >https://www.clickindia.com/login.php?p=pa</a
      >
      <br />So, first you have to click on Login button.
    </li>
    <img src="../images/marketing-i1.png" alt="" />
    <li>
      <b>Step 2:</b>After the click on Sign up button. You will show one window
      like this. Where you have to fill the Sign up form. As well as we have
      explained in screenshot how to do that. Please have a look.

      <br />After fill the Sign up for Clickin form, you have to click on the
      Sign up button.
    </li>
    <img src="../images/marketing-i2.png" alt="" />
    <li>
      <b>Step 3:</b>after the click on Sign up button, you will receive the OTP
      on your number. Which number you had use during sign up time. When your
      receive the OTP, fill out this at Sign up form. Then click on Sign up
      button again.
    </li>
    <img src="../images/marketing-i3.png" alt="" />
    <li>
      <b>Step 4:</b>after the click Sign up button. You will register at
      <a href="https://www.clickindia.com/">https://www.clickindia.com/</a>.
      After that, you will show one window like this.
    </li>
    <img src="../images/marketing-i4.png" alt="" />
    <li>
      <b>Step 5:</b>now you are ready for the post your ads. But you have to
      click on Post free add button. As well as we have explained in screenshot.
      Please have a look.
    </li>
    <img src="../images/marketing-i5.png" alt="" />
    <li>
      <b>Step 6:</b>After the click on Post free add, you will show one window
      like this. Where you have to choose category for your ads. As well as we
      have explained in screenshot. Please have a look.
    </li>
    <img src="../images/marketing-i6.png" alt="" />
    <li>
      <b>Step 7:</b>after choose main category for your ads. You have to choose
      the sub category for your ads. So you will show one window like this. As
      well as we have explained in screenshot. Please have a look.
    </li>
    <img src="../images/marketing-i7.png" alt="" />
    <li>
      <b>Step 8:</b>after the choose category, you will show one window like
      this. Where you have to write about your ads. Which type of ads you want
      to publish.
    </li>
    <img src="../images/marketing-i8.png" alt="" />
    <li>
      <b>Step 9:</b>After this, you have to fill out the each field of this
      form. As well as we have explained in screenshot how to do that. Please
      have a look. <br />First you have to upload the image and set the
      location, where you want show you ads.
    </li>
    <img src="../images/marketing-i9.png" alt="" />
    <li>
      <b>Step 10:</b>After the upload image and set location. You have set price
      of your service, which you are offering. As well as we have explained in
      screenshot Please have a look.
    </li>
    <img src="../images/marketing-i10.png" alt="" />
    <li>
      <b>Step 11:</b>After the set price, you have to write the title and
      description about your ads. As well as we have explained in screenshot how
      to do that. Please have a look.
    </li>
    <img src="../images/marketing-i11.png" alt="" />
    <li>
      <b>Step 12:</b>after the fill out the whole information about your ads.
      Now you have to click on Post ad button.
    </li>
    <img src="../images/marketing-i12.png" alt="" />
    <li>
      <b>Step 13:</b>after the click on Post add button, you will show one
      window like this. Where you have to click on Continue as Free button for
      publish your ads. As well as we have explained in screenshot. Please have
      a look.
    </li>
    <img src="../images/marketing-i13.png" alt="" />
    <li>
      <b>Step 14:</b>after the click Continue as Free button, your classified ad
      will be live.
    </li>
  </ul>
</div>
