<style>
  li + img {
    margin: 40px;
  }
</style>
<% layout('layouts/boilerplate')%>
<div class="container-fluid p-5">
  <h3>HOW TO POST IN INDIA MART.</h3>
  <ul class="fs-5">
    <li><b>Step 1:</b> First sign in India MART using your phone number.</li>
    <img src="../images/marketing-f1.png" alt="" />
    <li><b>Step 2:</b> It will ask for OTP.</li>
    <img src="../images/marketing-f2.png" alt="" />
    <li>
      <b>Step 3:</b>Once you fill the OTP & click Verify, you are done with your
      registration. You can also edit your profile.
    </li>
    <img src="../images/marketing-f3.png" alt="" />
    <li>
      <b>Step 4:</b> When you click on Edit Profile you will redirect to a page
      & fill all the required details.
    </li>
    <img src="../images/marketing-f4.png" alt="" />
    <li>
      <b>Step 5:</b> Save all information. When you save the email section, an
      OTP will come on your phone number & on your email ID
    </li>
    <img src="../images/marketing-f5.png" alt="" />
    <img src="../images/marketing-f5a.png" alt="" />
    <li>
      <b>Step 6:</b>To start posting or selling your services click on Sell
      option
    </li>
    <img src="../images/marketing-f6.png" alt="" />
    <li>
      <b>Step 7:</b> Where you have again registered with the same details.
      Check the I agree to terms and privacy policy box & click on Register for
      Free. Then an OTP will come on your Mobile number again. Submit the OTP &
      hit the Continue button. You will redirect to a new page where you have to
      upload images related to your services.
    </li>
    <li>
      <b>Step 8:</b> Once you fill the all details continue, you are done with
      your posting & welcome screen will appear
    </li>
    <img src="../images/marketing-f8.png" alt="" />
  </ul>
</div>
