<style>
  li + img {
    margin: 40px;
  }
</style>
<% layout('layouts/boilerplate')%>
<div class="container-fluid p-5">
  <h3>HOW TO POST AD IN 99LOCALADS</h3>
  <ul class="fs-5">
    <li>
      <b>Step 1:</b>Before posting your ads at
      <a href="http://99localads.com/">http://99localads.com/</a>. First, you
      have to register using this link
      <a href="http://99localads.com/user/register"
        >http://99localads.com/user/register</a
      >
      <br />So, first, you have to click on button “Register” for creating a
      free account.
    </li>
    <img src="../images/marketing-j1.png" alt="" />
    <li>
      <b>Step 2:</b>After the clicks on the register for a free account button,
      you will see one window like this. Where you have to fill the whole
      required field in this link. As well as we are shown an example below how
      to fill out this, which type information you have to fill.
    </li>
    <img src="../images/marketing-j2.png" alt="" />
    <li>
      <b>Step 3:</b>After fill out the whole information, click the create
      button.
    </li>
    <img src="../images/marketing-j3.png" alt="" />
    <li>
      <b>Step 4:</b>after Click the Create Button. You will show one window like
      this. It is means you have been successfully registered at this website.
    </li>
    <img src="../images/marketing-j4.png" alt="" />
    <li>
      <b>Step 5:</b>now you can publish your ads. Before posting ads first, you
      have to click on publish your ad for free button.
    </li>
    <img src="../images/marketing-j5.png" alt="" />
    <li>
      <b>Step 6:</b>after Click on publish your ad for free button, you will
      show one window like this. Where you can write about your ads, which type
      of ads you want to show everyone using this website.
    </li>
    <img src="../images/marketing-j6.png" alt="" />
    <li>
      <b>Step 7:</b>After that, you have to choose the category of your ads. As
      well as we have explained in the screenshot how to do that. Please have a
      look.
    </li>
    <img src="../images/marketing-j7.png" alt="" />
    <li>
      <b>Step 8:</b>After category, you have to write Title for your ads. As
      well as we have explained in the screenshot how to do that. Please have a
      look below.
    </li>
    <img src="../images/marketing-j8.png" alt="" />
    <li>
      <b>Step 9:</b>After category, you have to write Title for your ads. As
      well as we have explained in the screenshot how to do that. Please have a
      look below.
    </li>
    <img src="../images/marketing-j9.png" alt="" />
    <li>
      <b>Step 10:</b>After the description, you have to mention the city for
      your ads where you want to show your ads. As well as we have explained in
      the screenshot how to do that. Please have a look.
    </li>
    <img src="../images/marketing-j10.png" alt="" />
    <li>
      <b>Step 11:</b>After add city, you have to mention your business address,
      where your business located. As well as we have explained in the
      screenshot how to do that. Please have a look below.
    </li>
    <img src="../images/marketing-j11.png" alt="" />
    <li>
      <b>Step 12:</b>After add address, you have to add business tag related to
      your ads as well as we have explained in the screenshot how to do that.
      Please have a look.
    </li>
    <img src="../images/marketing-j12.png" alt="" />
    <li>
      <b>Step 13:</b>After the fill out whole information, you have to click the
      publish button for posting your ads. As well as we have explained in a
      screenshot.
    </li>
    <img src="../images/marketing-j13.png" alt="" />
    <li>
      <b>Step 14:</b>After the click on Publish button, you will show one window
      like this. This will show that your listing has been published.
    </li>
    <img src="../images/marketing-j14.png" alt="" />
    <li>
      <b>Step 15:</b>After the whole steps, your classified ads will showing
      like this.
    </li>
    <img src="../images/marketing-j15.png" alt="" />
  </ul>
</div>
