<style>
  /* Container and typography styles */
  .marketing-div {
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px 80px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  .marketing-title {
    text-align: center;
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 1rem;
  }

  /* List styling */
  .marketing-ul {
    list-style: none;
    padding: 0;
  }

  .marketing-ul li {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .marketing-ul li b {
    font-weight: bold;
  }

  /* Link styling */
  .marketing-ul a {
    color: #007bff;
    text-decoration: none;
  }

  .marketing-ul a:hover {
    text-decoration: underline;
  }

  /* Image styling */
  .marketing-ul img {
    width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .marketing-title {
      font-size: 1.8rem;
    }
    .marketing-div {
      padding: 10px;
    }
    .marketing-ul li {
      font-size: 0.95rem;
    }
  }

  @media (max-width: 576px) {
    .marketing-title {
      font-size: 1rem;
    }
    .marketing-div {
      margin: 20px 15px;
      padding: 10px;
    }
    .marketing-ul li {
      font-size: 0.9rem;
    }
    .marketing-ul img {
      margin: 10px 0;
    }
  }
</style>
<% layout('layouts/boilerplate')%>
<div class="marketing-div">
  <h3 class="marketing-title">HOW TO POST AD IN CLICKOOZ</h3>
  <ul class="marketing-ul">
    <li>
      <b>Step 1:</b> Before a posting your ads at
      <a href="http://clickooz.com/">http://clickooz.com/</a>. First, you have
      to register using this link
      <a href="http://clickooz.com/user/register"
        >http://clickooz.com/user/register</a
      >
      <br />So, first, you have to click on Sign in button.
    </li>
    <img src="../images/marketing-h1.png" alt="" />
    <li>
      <b>Step 2:</b>After clicking the Sign in button, you will see one window
      like this, where you have to fill the Register an account for free form.
      As well as we have explained in the screenshot how to do that. Please have
      a look.
    </li>
    <img src="../images/marketing-h2.png" alt="" />
    <li>
      <b>Step 3:</b>after the fill the Register form, you will successfully
      register them at <a href="http://clickooz.com/">http://clickooz.com/</a>.
      And you will show one window like this.
    </li>
    <img src="../images/marketing-h3.png" alt="" />
    <li>
      <b>Step 4:</b>now you ready for posting your ads at
      <a href="http://clickooz.com/">http://clickooz.com/</a>. But first, you
      have to click on the Publish listing button.
    </li>
    <img src="../images/marketing-h4.png" alt="" />
    <li>
      <b>Step 5:</b>After the click on the Publish listing button. You will see
      one window like this. Where you have to write about your ads. Which type
      of ads you want to publish.
    </li>
    <img src="../images/marketing-h5.png" alt="" />
    <li>
      <b>Step 6:</b>After this, you have to fill out each field of this form. As
      well as we have explained in the screenshot how to do that. Please have a
      look.

      <br />First, you have to choose the category of your ads. Also if you have
      not found your category, which you want for ads. So, you can choose the
      other service category for your ads.
    </li>
    <img src="../images/marketing-h6.png" alt="" />
    <li>
      <b>Step 7:</b>After choose the category, you have to set the price of your
      service. Which service you offer, As well as we have explained in the
      screenshot how to do that. Please have a look.
    </li>
    <img src="../images/marketing-h7.png" alt="" />
    <li>
      <b>Step 8:</b> After the set the price of your ads, you have to write the
      title and description of your ads. As well as we have explained in the
      screenshot how to do that. Please have a look.
    </li>
    <img src="../images/marketing-h8.png" alt="" />
    <li>
      <b>Step 9:</b>After the title and description. You have to upload the
      image at your ads. As well as we have explained in the screenshot how to
      do that. Please have a look below.
    </li>
    <img src="../images/marketing-h9.png" alt="" />
    <li>
      <b>Step 10:</b>After the uploaded image, you have to fill the completed
      address of your business location. Where it is located? As well as we have
      explained in the screenshot how to do that. Please have a look.
    </li>
    <img src="../images/marketing-h10.png" alt="" />
    <li>
      <b>Step 11:</b>After filling the whole information about your ads. You
      have to click them to Publish item button for publishing your ads.
    </li>
    <img src="../images/marketing-h11.png" alt="" />
    <li>
      <b>Step 12:</b>After clicking on publish item button. You will see one
      window like this. Where you got this message your listing has been
      published and Your ads need to be approved by the administrator, it could
      take a while until it appears on the website. As well as we have explained
      in the screenshot how to do that. Please have a look.
    </li>
    <img src="../images/marketing-h12.png" alt="" />
    <li>
      <b>Step 13:</b>when your ads will be approved by the administrator. Then,
      your ads will live. So you have to wait for approved confirmation.
    </li>
  </ul>
</div>
