<style>
  li + img {
    margin: 40px;
  }
</style>
<% layout('layouts/boilerplate')%>
<div class="container-fluid p-5">
  <h3>HOW TO POST AD IN QUIKR</h3>
  <ul class="fs-5">
    <li>
      <b>Step 1:</b>First, you have to register in Quikr.com. To register in it
      you have to click on the “Login/Register” option as mentioned in
      screenshot.
    </li>
    <img src="../images/marketing-e1.png" alt="" />
    <li>
      <b>Step 2:</b>You need to enter your email Id by which you want to
      register & click on continue.
    </li>
    <img src="../images/marketing-e2.png" alt="" />
    <li>
      <b>Step 3:</b>After that, you will to have fill Name, Mobile Number,
      Password.
    </li>
    <img src="../images/marketing-e3.png" alt="" />
    <li>
      <b>Step 4:</b>Leave the checkbox uncheck if you do not have the referral
      code & hit the continue button. An “OTP “ will come on the given mobile
      number to verify the number.
    </li>
    <img src="../images/marketing-e4.png" alt="" />
    <li><b>Step 5:</b>Then you will have to fill the OTP.</li>
    <img src="../images/marketing-e5.png" alt="" />

    <li>
      <b>Step 6:</b>After filling the OTP click on continue. Now you are done
      with registration. A verification email will come on your given email Id,
      verify it.
    </li>
    <img src="../images/marketing-e6.png" alt="" />
    <li>
      <b>Step 7:</b>To verify it click on Verify Email. Now your email id is
      verified. Login using the email Id & password. Enter the email id & click
      on continue.
    </li>
    <img src="../images/marketing-e7.png" alt="" />
    <li>
      <b>Step 8:</b>After clicking on the continue, it will ask for the
      password, fill the password in the password section & click on continue.
    </li>
    <img src="../images/marketing-e8.png" alt="" />
    <li>
      <b>Step 9:</b>After clicking the continue, you will redirected to your
      dashboard.
    </li>
    <img src="../images/marketing-e9.png" alt="" />
    <li>
      <b>Step 10:</b> Now you can start posting your ads. Keep in minds that
      Quikr provides both Free & Paid services. Select as per your convenience.
    </li>
    <img src="../images/marketing-e10.png" alt="" />
    <li>
      <b>Step 11:</b>To start posting click on Post Free Ads” in yellow
      rectangular
    </li>
    <img src="../images/marketing-e11.png" alt="" />
    <li>
      <b>Step 12:</b>When you click on Post Free Ad, you will redirect to a
      category page where you can select category according to your products or
      services.
    </li>
    <img src="../images/marketing-e12.png" alt="" />
    <li>
      <b>Step 13:</b>When you move your cursor to any of the category then there
      you will see many more sub-categories & there you can select according to
      your requirements, in which category your services or product belongs to
    </li>
    <img src="../images/marketing-e13.png" alt="" />

    <li>
      <b>Step 13:</b>When you move your cursor to any of the category then there
      you will see many more sub-categories & there you can select according to
      your requirements, in which category your services or product belongs to
    </li>
    <img src="../images/marketing-e13.png" alt="" />
    <li>
      <b>Step 14:</b>After selecting the appropriate category, click on that &
      there you have to fill the details as shown in the screenshot. Like
      Company name, Owner Name, Mobile Number, Email Id, from there you can also
      select the category.
    </li>
    <img src="../images/marketing-e14.png" alt="" />
    <li>
      <b>Step 15:</b> Fill the required information in Contact Details. When
      select the category click on Apply to select the category. Then hit NEXT
      Button
    </li>
    <img src="../images/marketing-e15.png" alt="" />
    <img src="../images/marketing-e15a.png" alt="" />
    <li>
      <b>Step 16:</b>Then an OTP will come on your given Mobile Number. Fill it
      & click on Verify.
    </li>
    <img src="../images/marketing-e16.png" alt="" />
    <li>
      <b>Step 17:</b> After verifying with OTP you will redirect to the Business
      Details Section. There you will have to fill Working Days, Working Hours
      from, Working Hours to, In Business since, No. of Employees, Short
      description of company & their logo.
    </li>
    <img src="../images/marketing-e17.png" alt="" />
    <li>
      <b>Step 18:</b>After filling the business details click NEXT Button. Then
      you will redirect to the Service Details section, where you will have to
      fill the details of your services. As well as you can upload images of
      your shops & services.
    </li>
    <img src="../images/marketing-e18.png" alt="" />
    <li>
      <b>Step 19:</b>After filling the Service Details click on NEXT Button.
      Then you will move another section Additional Details, where you will have
      to fill the address of your business, state & pin code.
    </li>
    <img src="../images/marketing-e19.png" alt="" />
    <li>
      <b>Step 20:</b>Now filling all details click on LIST YOUR BUSINESS. Now
      you are done with your listings.
    </li>
  </ul>
</div>
