<style>
  li + img {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
  }
  @media (max-width: 576px) {
    img {
      width: 100%;
    }
    div {
      padding: 0s;
    }
  }
</style>
<% layout('layouts/boilerplate')%>

<div class="container-fluid p-5">
  <h3>HOW TO CREATE GOOGLE BUSINESS LISTING</h3>
  <ul class="fs-5">
    <li>
      <b>Note:</b> Before Creating a Google listing, you should have Gmail id.
      If you don’t have any Gmail Please create the Gmail id, then Create Google
      listing for your business.
    </li>
    <li>
      <b>Step 1:</b> You have to open the Google business link –
      <a href="https://www.google.com/intl/en_in/business/"
        >https://www.google.com/intl/en_in/business/</a
      >
    </li>
    <img src="../images/marketing-a1.png" alt="" />
    <li>
      <b>Step 2:</b> After the open Google business link, please clicks on “Sign
      in” button.
    </li>
    <img src="../images/marketing-a2.png" alt="" />
    <li>
      <b>Step 3:</b> After clicks the “Sign in” button; you will show one window
      like this, which is shown in the screenshot.
    </li>
    <img src="../images/marketing-a3.png" alt="" />
    <li>
      <b>Step 4:</b> After that please Add/Write your Gmail id in blank section.
    </li>
    <img src="../images/marketing-a4.png" alt="" />
    <li>
      <b>Step 5:</b> After Fill out your Gmail, Please enter your “password”.
    </li>
    <img src="../images/marketing-a5.png" alt="" />
    <li>
      <b>Step 6:</b> After that, Enter your business name, which type of
      business name you want at Google listin6 Ag. As well as we have given
      example in screenshot, have a look.
    </li>
    <img src="../images/marketing-a6.png" alt="" />
    <li>
      <b>Step 7:</b> After adding the Business name, Click on “next button”. And
      you will show one window like this. Where you have to fill out the
      business category.
    </li>
    <img src="../images/marketing-a7.png" alt="" />
    <li>
      <b>Step 8:</b> After adding the category of your business, you will show
      one window like this and now you have to add your location so, another
      customer visit to your office or store. So, please click the yes button,
      and then click the next button.
    </li>
    <img src="../images/marketing-a8.png" alt="" />
    <li>
      <b>Step 9:</b> After this, you will show one window like this, where you
      have to fill out the completed address. Where your business located. As
      well as we have given example in screenshot, have a look. After fill out
      the completed address, click the next button.
    </li>
    <img src="../images/marketing-a9.png" alt="" />
    <li>
      <b>Step 10:</b> after Fill out the completed address. You will show one
      window like this, where you have to pin your location at the map. After to
      pin your location at the map, click the on next button.
    </li>
    <img src="../images/marketing-a10.png" alt="" />
    <li>
      <b>Step 11:</b> After the pin your location at the map, you will show one
      window like this, where you have to choose the No, I don’t button. Then
      click the next button.
    </li>
    <img src="../images/marketing-a11.png" alt="" />
    <li>
      <b>Step 12:</b> after that, you will show one window like this. Where you
      have to add your contact number and add your website URL. But if you have
      no website yet, you can choose the Get a free website based on your info,
      option. After to add a contact number and your website, click the on next
      button.
    </li>
    <img src="../images/marketing-a12.png" alt="" />
    <li>
      <b>Step 13:</b> after adding complete information. You will show one
      window like this. So please click on Finish button.
    </li>
    <img src="../images/marketing-a13.png" alt="" />
    <li>
      <b>Step 14:</b> after the Finish button, you have to verify your Google
      listing by verification methods. So you have to fill the name and click
      the mail button. After the click the mail button, your verification code
      will come in your address with 12 days, which address you had used at
      Google listing.
    </li>
    <img src="../images/marketing-a14.png" alt="" />
    <li>
      <b>Step 15:</b> after the completed this process, you will show one window
      like this. It means your verification code has process at your address.
      And click the continue button
    </li>
    <img src="../images/marketing-a15.png" alt="" />
    <li>
      <b>Step 16:</b> After this whole process, your Google business listing
      completed for your business. But now this Google business listing for
      Pending verification. It is means, your listing will not showing (live) on
      Google map.
    </li>
    <img src="../images/marketing-a16.png" alt="" />
    <li>
      <b>Step 17:</b> So when you will receive the variation code. Then fill out
      that code at Google listing option. After entering the code, your Google
      listing will show on Google map.
    </li>
    <img src="../images/marketing-a17.png" alt="" />
    <li>
      <b>Step 18:</b> unless you have no receive the verification code, you can
      optimize your Google business listing. Which has explained in below
      screenshots, so please have a look? And but first, you have to click the
      info tab at Google listing.
    </li>
    <img src="../images/marketing-a18.png" alt="" />
    <li>
      <b>Step 19:</b> After clicking the info button, you have to click the
      added service area button, where you can add some more location near your
      business location.
    </li>
    <img src="../images/marketing-a19.png" alt="" />
    <li>
      <b>Step 20:</b> after the Add service area, you have to click on Add
      hour’s button, where you can add your hours. When your shop will open and
      closed each day.
    </li>
    <img src="../images/marketing-a20.png" alt="" />
    <li>
      <b>Step 21:</b> after the add hours, you have to click on Add business
      description button, where you can add your business description
    </li>
    <img src="../images/marketing-a21.png" alt="" />
    <li>
      <b>Step 22:</b> after the Add business description, you have to click on
      Add Photos button, where you can add your photo related to your business.
    </li>
    <img src="../images/marketing-a22.png" alt="" />
    <li>
      <b>Step 23:</b> as well as if you want to add your every service in Google
      business listing. Which service you offer to the customer. Yes, you can
      add each service. But first, you have to click on the service button.
    </li>

    <li>
      Now Google Listing successful done. And If you want to know to how to open
      my Google listing and where will show. So first you have opened this link
      https://www.google.com/business/ after open this link you have to log in
      with your Gmail id and password. Which you have used to create the Google
      listing time. After login, you will see, your Google listing, like this
    </li>
    <img src="../images/marketing-a23.png" alt="" />
  </ul>
</div>
