<style>
  /* Container and typography styles */
  .marketing-div {
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px 80px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  .marketing-title {
    text-align: center;
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 1rem;
  }

  /* List styling */
  .marketing-ul {
    list-style: none;
    padding: 0;
  }

  .marketing-ul li {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .marketing-ul li b {
    font-weight: bold;
  }

  /* Link styling */
  .marketing-ul a {
    color: #007bff;
    text-decoration: none;
  }

  .marketing-ul a:hover {
    text-decoration: underline;
  }

  /* Image styling */
  .marketing-ul img {
    width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .marketing-title {
      font-size: 1.8rem;
    }
    .marketing-div {
      padding: 10px;
    }
    .marketing-ul li {
      font-size: 0.95rem;
    }
  }

  @media (max-width: 576px) {
    .marketing-title {
      font-size: 1rem;
    }
    .marketing-div {
      margin: 20px 15px;
      padding: 10px;
    }
    .marketing-ul li {
      font-size: 0.9rem;
    }
    .marketing-ul img {
      margin: 10px 0;
    }
  }
</style>
<% layout('layouts/boilerplate')%>
<div class="marketing-div">
  <h3 class="marketing-title">HOW TO POST AD IN CRAIGSLIST ORG</h3>
  <ul class="marketing-ul">
    <li>
      <b>Step 1:</b> Before a posting your ads at
      <a href="https://craigslist.org/"> https://craigslist.org/</a> First you
      have to register using this link
      <a href="https://accounts.craigslist.org/login?rt=L&rp=%2Flogin%2Fhome">
        https://accounts.craigslist.org/login?rt=L&rp=%2Flogin%2Fhome</a
      >
      So, first, you have to click on My Account button.
    </li>
    <img src="../images/marketing-b1.png" alt="" />
    <li>
      <b>Step 2:</b> After the click on My Account button, you will show one
      window like this. Where you have to create an account with your mail-id.
      After filling out your mail, you have to click on the Create account
      button.
    </li>
    <img src="../images/marketing-b2.png" alt="" />
    <li>
      <b>Step 3:</b> After the click on Create account button, you will show one
      window like this. Where you will receive the message. Thanks for signing
      up for a craigslist account!
    </li>
    <img src="../images/marketing-b3.png" alt="" />
    <li>
      <b>Step 4:</b> after that, you have to check your mailbox. Then click the
      activation link for activating your account. As well as we have explained
      in the screenshot. Please have a look.
    </li>
    <img src="../images/marketing-b4.png" alt="" />
    <li>
      <b>Step 5:</b> After the click on the link, you will show one window,
      where you have to set your own password for craigslist. Using this
      password you can log in at craigslist in future.
    </li>
    <img src="../images/marketing-b5.png" alt="" />
    <li>
      <b>Step 6:</b> after set the password, you will show one window like this.
      You will get the message “You have successfully set a new password for
      this account.”
    </li>
    <img src="../images/marketing-b6.png" alt="" />
    <li>
      <b>Step 7:</b> After that, you have to go at
      https://delhi.craigslist.org/, and then choose your category for your ads.
      Which types of ad you want to publish. As well as we have explained in the
      screenshot. Please have a look.
    </li>
    <img src="../images/marketing-b7.png" alt="" />
    <li>
      <b>Step 8:</b> after choosing the category, you will show one window like
      this. And now you are ready to post your ads. But first, you have to click
      on the post button.
    </li>
    <img src="../images/marketing-b8.png" alt="" />
    <li>
      <b>Step 9:</b>after clicking on the post button, you will show one window
      like this. Where you have to choose what type of posting is this: as well
      as we have explained in the screenshot how to do that. Please have a look.
      <p>After choosing the type, you have to click the continue button.</p>
    </li>
    <img src="../images/marketing-b9.png" alt="" />
    <li>
      <b>Step 10:</b> After choosing the type, you will show one window. Where
      you have to choose the category for your ads. As well as we have explained
      in the screenshot how to do that. Please have a look.After choosing the
      category, you have to click the continue button.
    </li>
    <img src="../images/marketing-b10.png" alt="" />
    <li>
      <b>Step 11:</b> after choosing the category, you will show one window like
      this. Where you have to write about your ads. Which type of ads you want
      to publish.
    </li>
    <img src="../images/marketing-b11.png" alt="" />
    <li>
      <b>Step 12:</b> After this, you have to fill out each field of this form.
      As well as we have explained in the screenshot how to do that. Please have
      a look.After filling out whole information, you have to click on the
      continue button.
    </li>
    <img src="../images/marketing-b12.png" alt="" />
    <li>
      <b>Step 13:</b> after clicking the continue button, your classified ads
      will be live soon.
    </li>
  </ul>
</div>
