<style>
  #profilediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    margin: auto;
  }

  #profilediv h3 {
    text-align: center;
  }

  #profilediv td {
    padding: 12px;
  }

  #navdiv {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
  }

  #navdiv a {
    margin: 5px 0;
  }

  #navdiv button {
    flex: 1;
    min-width: auto;
  }

  #mmdiv {
    background-color: antiquewhite;
    margin: 40px;
    border-radius: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  #profilediv img {
    width: 200px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    #mmdiv {
      margin: 20px auto;
      width: 95%;
    }
    #profilediv {
      padding: 10px;
      width: 100%;
    }
    #navdiv {
      flex-direction: column;
    }
    #navdiv button {
      margin: 5px 0;
      width: 100%;
    }
  }
</style>
<% layout('layouts/boilerplate')%>
<div id="mmdiv">
  <div id="mdiv">
    <div id="navdiv">
      <a href="/profileDetails"
        ><button class="btn btn-primary">Profile Details</button></a
      >
      <a href="/bank"><button class="btn btn-primary">Bank Details</button></a>
      <a href="/kyc"><button class="btn btn-primary">KYC Details</button></a>
      <a href="/letterHead"
        ><button class="btn btn-primary">Letter head</button></a
      >
      <a href="/certificate"
        ><button class="btn btn-primary">Certificate</button></a
      >
      <a href="/businessCard"
        ><button class="btn btn-primary">Business Card</button></a
      >
      <a href="/idCard"><button class="btn btn-primary">ID Card</button></a>
      <a href="/myBizCard"><button class="btn btn-primary">Biz Card</button></a>
    </div>
  </div>
  <hr />
  <div id="profilediv">
    <h4>Authorization Certificate</h4>
    <img src="../images/Certificate.jpg" alt="" />
    <form action="/certificateDownloader" method="get">
      <button type="submit" class="btn btn-primary">Download</button>
    </form>
  </div>
</div>
