<style>
  #passworddiv {
    margin: 20px;
    padding: 0px 20px;
    width: 600px;
    position: relative;
    transform: translate(55%);
  }
  #passworddiv h3 {
    text-align: center;
  }
  #passworddiv td {
    padding: 12px;
  }
  #navdiv {
    display: flex;
    padding-right: 20px;
    justify-content: space-evenly;
  }
  #mdiv {
    padding: 20px 20px 0px 20px;
  }
  #mmdiv {
    background-color: antiquewhite;
    margin: 20px 100px;
    border-radius: 10px;
    padding-bottom: 20px;
  }
</style>
<% layout('layouts/boilerplate')%>
<div id="mmdiv">
  <div id="mdiv">
    <div id="navdiv">
      <a href="/profileDetails"
        ><button class="btn btn-primary">Profile Details</button></a
      >
      <a href="/bank"><button class="btn btn-primary">Bank Details</button></a>
      <a href="/kyc"><button class="btn btn-primary">KYC Details</button></a>
      <a href="/letterHead"
        ><button class="btn btn-primary">Letter head</button></a
      >
      <a href="/certificate"
        ><button class="btn btn-primary">Certificate</button></a
      >
      <a href="/businessCard"
        ><button class="btn btn-primary">Business Card</button></a
      >
      <a href="/idCard"><button class="btn btn-primary">ID Card</button></a>
      <a href="/myBizCard"><button class="btn btn-primary">Biz Card</button></a>
    </div>
  </div>
  <div id="passworddiv">
    <h3>Reset Password</h3>
  </div>
</div>
