<style>
  h1,
  p {
    text-align: center;
  }
  .term {
    margin: 40px;
    padding: 40px;
    background-color: antiquewhite;
    border-radius: 10px;
  }
</style>
<% layout('layouts/boilerplate')%>
<div class="term">
  <h1>Contact us</h1>
  <p>
    For any inquiries regarding this Privacy Policy, the operations of this
    site, or your interactions with it, please reach out to us at: SERVEWISE
    INDIA PRIVATE LIMITED.
  </p>

  <p># 2555, Kantharaj Urs road, KG Koppal Saraswatipuram, Mysore-09</p>
  <p>Call For Support: +91 8050-885-885.</p>
</div>
