<style>
  h1 {
    text-align: center;
  }
  .term {
    margin: 40px;
    padding: 40px;
    background-color: antiquewhite;
    border-radius: 10px;
  }
</style>
<% layout('layouts/boilerplate')%>
<div class="term">
  <h1>TERMS & CONDITIONS</h1>
  <p>
    SERVEWISE INDIA PVT LTD is an authorized provider of Trust & Corporate
    Services. By utilizing SERVEWISE INDIA’s offerings, you consent to abide by
    the following terms and conditions:
  </p>
  <p>
    Our fees are subject to Goods and Services Tax (GST). A GST e-Invoice along
    with an Input Tax Credit will be issued provided you supply your GSTIN
    during payment. It is the client's duty to ensure that the GSTIN is
    submitted at the time of payment to avail the GST Input Tax Credit.
  </p>
  <p>
    Any extra government charges related to incorporation, licensing, or
    trademark services, if applicable, will be clearly stated in the invoice,
    collected, and then forwarded to the appropriate government authority.
  </p>
  <h4>
    1) Terms & Conditions governing the use of
    <a href="http://www.bharathiyagrameenabanking.com/"
      >http://www.bharathiyagrameenabanking.com/</a
    >
  </h4>
  <p>
    Welcome to
    <a href="http://www.bharathiyagrameenabanking.com/"
      >http://www.bharathiyagrameenabanking.com/</a
    >. This site is managed and owned by SERVEWISE INDIA PVT LTD, located at
    #2555, Kantharaj Urs Road, KG Koppal Saraswatipuram, Mysore-09. By accessing
    our website and utilizing the information, resources, services, products,
    and tools available, you acknowledge and agree to comply with the following
    terms and conditions outlined in this policy (referred to as the 'User
    Agreement'), as well as the terms detailed in our Privacy Policy (see the
    Privacy Policy section below for additional details).
  </p>
  <p>
    We retain the right to modify this User Agreement at any time without prior
    notice. You agree that it is your responsibility to periodically review this
    User Agreement to stay informed about any changes. Continued use of this
    website after such updates will signify your acceptance and agreement to the
    revised terms and conditions.
  </p>

  <ol type="a">
    <li>
      <h5>RESPONSIBLE USE AND CONDUCT</h5>
      <ol type="a">
        <li>
          To access our Resources, you may be required to provide specific
          personal information (such as identification, email, phone number, and
          contact details) during registration or while using the Resources. You
          commit to ensuring that any information you submit is always accurate,
          correct, and kept up-to-date.
        </li>
        <li>
          You are responsible for safeguarding the confidentiality of your login
          credentials linked to any account you use to access our Resources. As
          a result, you are accountable for all activities under your accounts.
          Once SERVEWISE INDIA Private Limited provides access to the platform,
          the service is considered delivered, and all subsequent actions are
          solely your responsibility.
        </li>
        <li>
          It is strictly forbidden to access (or attempt to access) our
          Resources using any means other than those officially provided by us.
          You explicitly agree not to use any automated, unethical, or
          non-standard methods to access our Resources.
        </li>
        <li>
          Any activity that disrupts or interferes with our Resources, including
          the servers or networks linked to our Resources, is strictly
          prohibited.
        </li>
        <li>
          You are strictly forbidden from copying, duplicating, reproducing,
          selling, trading, or reselling any part of our resources.
        </li>
        <li>
          You will be held responsible for any consequences, losses, or damages
          that we may directly or indirectly suffer due to unauthorized
          activities you engage in, and you may face civil or criminal liability
          for such actions.
        </li>
        <li>
          Our website may include open communication tools, such as blog
          comments, posts, public chats, forums, message boards, newsgroups,
          product reviews, and various social media platforms. You acknowledge
          that we generally do not pre-screen or monitor content shared by users
          on these platforms. Therefore, if you choose to use these tools, it is
          your responsibility to do so in an ethical and responsible manner. By
          posting or submitting content through these tools, you agree not to
          upload, share, or distribute any content that:
          <ol type="i">
            <li>
              Is unlawful, abusive, defamatory, harassing, harmful,
              discriminatory, threatening, deceptive, fraudulent, or includes
              offensive, inappropriate, or explicit language;
            </li>
            <li>
              Violates any intellectual property rights, including but not
              limited to trademarks, patents, copyrights, or proprietary rights
              of any third party;
            </li>
            <li>Involves unauthorized or unsolicited advertisements;</li>
            <li>
              Misrepresents your identity or impersonates another person or
              entity, including employees or representatives of
              <a href="http://www.bharathiyagrameenabanking.com/"
                >http://www.bharathiyagrameenabanking.com/</a
              >.
            </li>
          </ol>
          We reserve the right, at our sole discretion, to remove any content we
          believe violates this User Agreement or is otherwise harmful,
          offensive, or inaccurate. We are not responsible for any delays or
          failures in removing such content. If your content is removed, you
          agree to this and waive any claims against us.
        </li>
        <li>
          We do not assume any responsibility for content posted by you or any
          third party on our site. However, any content posted by you via the
          open communication tools on our website, as long as it does not
          infringe on third-party rights, becomes the property of
          <a href="http://www.bharathiyagrameenabanking.com/"
            >http://www.bharathiyagrameenabanking.com/</a
          >. This grants us a permanent, worldwide, royalty-free license to use,
          modify, translate, publish, display, or distribute the content. This
          only applies to content shared via open communication tools and does
          not include information provided during registration, which is
          protected under our Privacy Policy.
        </li>
        <li>
          You agree to indemnify and protect bharathiyagrameenabanking.com, a
          digital property of SERVEWISE INDIA Private Limited, along with its
          affiliates, directors, officers, employees, agents, and licensors,
          from any losses, costs, damages, or legal fees resulting from any
          breach of this User Agreement or failure to meet your account
          obligations. We reserve the right to take control of the defense in
          any claim for which we are entitled to indemnification. In such cases,
          you agree to fully cooperate with us.
        </li>
      </ol>
    </li>
    <li>
      <h5>PRIVACY</h5>
      We highly value your privacy, which is why we have crafted a detailed
      Privacy Policy explaining how your personal data is collected, handled,
      processed, protected, and stored. Our Privacy Policy forms part of this
      User Agreement. You can read the full Privacy Policy by clicking here.
    </li>
    <li>
      <h5>LIMITATION OF WARRANTIES</h5>
      By using our website, you acknowledge and agree that all Resources we
      offer are provided on an "as is" and "as available" basis. This implies
      that we do not offer any warranties or guarantees regarding:
    </li>
    <li>
      <h5>LIMITATION OF LIABILITY</h5>
      In addition to the Limitation of Warranties outlined earlier, you
      explicitly agree that any claims against us will be limited to the amount
      you paid, if any, for the use of our products or services.
      <a href="http://www.bharathiyagrameenabanking.com/"
        >http://www.bharathiyagrameenabanking.com/</a
      >
      is not liable for any direct, indirect, incidental, consequential, or
      exemplary damages arising from your use of our Resources, including any
      data loss, service interruptions, or access loss, to the extent permitted
      by applicable liability laws.
    </li>
    <li>
      <h5>COPYRIGHTS / TRADEMARKS</h5>
      All materials and content available on
      <a href="http://www.bharathiyagrameenabanking.com/"
        >http://www.bharathiyagrameenabanking.com/</a
      >, including text, graphics, website names, code, images, and logos, are
      the intellectual property of SERVEWISE INDIA Private Limited and are
      protected under applicable copyright and trademark laws. Any unauthorized
      use, including reproduction, distribution, display, or transmission, is
      strictly prohibited unless explicitly authorized by SERVEWISE INDIA
      Private Limited.
    </li>
    <li>
      <h5>TERMINATION OF USE</h5>
      You agree that we may, at our discretion, suspend or terminate your access
      to our website and Resources, with or without notice, for any reason,
      including a violation of this User Agreement. Any suspicious, illegal,
      fraudulent, or abusive activities may also lead to termination and could
      be reported to relevant authorities. Once terminated, your right to use
      our Resources ceases immediately, and we reserve the right to delete any
      information or account details you have with us.
    </li>
    <li>
      <h5>GOVERNING LAW</h5>
      This website is operated by SERVEWISE INDIA Private Limited from
      Karnataka, India. While accessible worldwide, you agree that the laws of
      Karnataka, India, without regard to any conflict of law principles, will
      govern all issues related to the use of our website and the purchase of
      products or services. Any legal actions to enforce this User Agreement
      must be brought in courts located in Karnataka, India. You hereby consent
      to the jurisdiction of these courts and waive any objections regarding
      jurisdiction or venue.
    </li>
    <li>
      <h5>CANCELLATION AND REFUND</h5>
      Once payment is made, order cancellation is not allowed. Refunds will only
      be issued in the event of service non-performance or cancellation by
      SERVEWISE INDIA Private Limited.
    </li>
    <li>
      <h5>GUARANTEE</h5>
      Unless explicitly stated otherwise,
      <a href="http://www.bharathiyagrameenabanking.com/"
        >http://www.bharathiyagrameenabanking.com/</a
      >
      disclaims all warranties and conditions, whether express or implied,
      including but not limited to implied warranties of merchantability,
      fitness for a particular purpose, and non-infringement.
    </li>
    <li>
      <h5>CONTACT INFORMATION</h5>
      If you have any questions or comments regarding our Terms of Service, feel
      free to reach us at: SERVEWISE INDIA <br />
      <p>SERVEWISE INDIA Private Limited</p>
      <p># 2555, Kantharaj Urs Road, KG Koppal Saraswatipuram, Mysore-09</p>
      <p>Phone: +91 8050-885-885</p>
    </li>
  </ol>
  <h4>
    2) The following Terms & Conditions apply to the usage of BGB software.
  </h4>
  <ol type="a">
    <li>
      <h5>Introduction</h5>
      <p>
        This Privacy Policy applies to personal and sensitive personal data,
        including confidential information ("Customer Information") that belongs
        to customers, potential customers, and other users of the Services
        ("Customer(s)" or "you") of https://BGB.cloud (BGB IT Services Private
        Limited), along with its affiliates and group companies (collectively
        referred to as "BGB", "we", "our", or "us").
      </p>
      <p>
        While using this website, mobile apps, or custom add-ons, or when
        accessing products and services through online, offline, or third-party
        platforms, or communicating via electronic or other means, BGB may
        collect, receive, store, use, handle, transfer, or process Customer
        Information. By accessing or using our Services, you confirm that you
        have read and accepted this Privacy Policy and consent to the
        collection, storage, use, processing, transfer, and retention of your
        Customer Information as described herein.
      </p>
      <p>
        BGB is dedicated to protecting its customers' privacy and has taken all
        reasonable steps to ensure the confidentiality and security of Customer
        Information during transmission.
      </p>
    </li>
    <li>
      <h5>Customer Information</h5>
      Customer Information refers to, but is not limited to, the following types
      of personal or sensitive data that we may collect, store, process, or use
      in accordance with applicable laws:
      <ol type="i">
        <li>
          Information about you: This may include, but is not limited to, your
          name, user IDs, signature, email addresses, phone numbers, addresses,
          KYC/identity documents (such as Aadhaar and PAN), biometric data,
          communications with us, device and location data, and how you use our
          Services.
        </li>
        <li>
          Financial information: This consists of, but is not limited to,
          details about your bank accounts, payment information, transaction
          history, tax data, and other financial records.
        </li>
        <li>
          Marketing and communications data: This includes your preferences for
          receiving marketing communications from us and your communication
          preferences. You are responsible for ensuring that any Customer
          Information you provide is accurate, up-to-date, and correct. Any
          inaccuracies in the Customer Information provided will be your
          responsibility, except for data verified through KYC processes as
          mandated by applicable law.
        </li>
      </ol>
    </li>
    <li>
      <h5>Collection of Customer Information</h5>
      We need to collect Customer Information to deliver the Services and comply
      with legal obligations. If you choose not to provide such information when
      requested, our ability to fulfill our obligations or provide you access to
      certain features may be limited or canceled.
      <ol type="i">
        <li>
          Direct interactions: This includes Customer Information you
          voluntarily provide when you:
          <ol type="a">
            <li>Create an account with us;</li>
            <li>
              Use the Services or engage in activities related to the Services;
            </li>
            <li>Agree to receive marketing messages; or</li>
            <li>
              Report a problem, give feedback, or contact us for assistance.
            </li>
          </ol>
        </li>
        <li>
          Automated technologies: We may collect data automatically through your
          use of our Services, including information about your device, browsing
          actions, and usage patterns using cookies, web beacons, and similar
          technologies.
        </li>
        <li>
          Third parties: Customer Information may also be obtained from publicly
          available sources or third parties such as service providers, credit
          bureaus, or government portals.
        </li>
      </ol>
    </li>
    <li>
      <h5>Cookies</h5>
      The BGB platform uses Google Analytics, which employs cookies (small text
      files that do not include sensitive personal information) to enhance your
      browsing experience by remembering your preferences and improving site
      functionality.
      <p>
        We may work with third-party service providers to help us understand and
        analyze the behavior of site visitors.
      </p>
      <p>
        Additionally, you may come across cookies set by third parties while
        visiting certain pages on our website. We do not have control over the
        placement of such cookies, and any information gathered by them is
        anonymous.
      </p>
      <p>
        You are free to disable or delete these cookies via your browser
        settings. BGB does not assume responsibility for cookies placed on your
        device by third parties.
      </p>
    </li>
    <li>
      <h5>Use of Customer Information</h5>
      We will only use your Customer Information in accordance with legal
      requirements or contractual obligations. Commonly, we will use your
      information to provide services, comply with regulations, or fulfill
      contractual terms. We use Customer Information for the following purposes:
      <ol>
        <li>
          To verify your identity and register you as a Customer, including
          account creation.
        </li>
        <li>To deliver the Services you have requested.</li>
        <li>To process payments.</li>
        <li>To meet legal obligations.</li>
        <li>
          To safeguard our business and Services, including troubleshooting,
          testing, and data analysis.
        </li>
        <li>To mitigate risks and prevent fraud.</li>
        <li>To fulfill contractual commitments and agreements with you.</li>
        <li>To respond to legal actions or defend against legal claims.</li>
        <li>To improve customer support and address your service requests.</li>
        <li>
          To optimize our Services and make improvements based on user feedback.
        </li>
        <li>
          To notify you about changes to our Services and send you updates.
        </li>
        <li>To monitor trends and tailor your experience.</li>
        <li>To market our Services to you.</li>
        <li>To enhance our business operations.</li>
        <li>To provide training and AI-based skills development.</li>
      </ol>
    </li>
    <li>
      <h5>Disclosure of Customer Information</h5>
      BGB agrees not to disclose Customer Information unless necessary for the
      following reasons:
      <ol>
        <li>To provide our Services as outlined in Section 5 above.</li>
        <li>To comply with legal obligations or legal processes.</li>
        <li>
          To protect the rights, interests, or property of BGB or its
          affiliates.
        </li>
        <li>To enforce our terms and conditions.</li>
        <li>
          To safeguard the interests of BGB, its affiliates, group companies, or
          other individuals.
        </li>
      </ol>
      <p>
        BGB limits the collection and use of Customer Information on a
        need-to-know basis to improve the service we offer. Information may be
        shared with third parties, including affiliates, vendors, and partners,
        under appropriate confidentiality agreements and legal requirements.
      </p>
      <p>
        Customer Information may be shared with affiliates, government agencies,
        and third parties for credit reporting, verification, risk management,
        and other purposes as required by law.
      </p>
    </li>
    <li>
      <h5>Storage and Transfer of Customer Information</h5>
      BGB follows applicable laws regarding the storage and transfer of Customer
      Information. In some cases, Customer Information may be stored or
      processed in countries other than your location due to server locations or
      service provider agreements. We ensure that such transfers are protected
      by appropriate confidentiality measures.
    </li>
    <li>
      <h5>Retention of Customer Information</h5>
      <p>
        BGB retains Customer Information as long as necessary to provide you
        with our Services, manage your account, comply with legal obligations,
        or for legal defense.
      </p>
      <p>
        We also retain Customer Information for business purposes such as fraud
        prevention, responding to queries, or fulfilling contractual
        obligations.
      </p>
      <p>
        Once retention is no longer necessary, BGB makes every effort to
        securely delete or destroy the Customer Information as per our internal
        policies.
      </p>
    </li>
    <li>
      <h5>Security of Customer Information</h5>
      <p>
        BGB takes appropriate measures to secure Customer Information from
        unauthorized access, including encrypted transmission.
      </p>
      <p>
        Customers are advised to select strong passwords and safeguard their
        credentials. A strong password should include letters, numbers, and
        special characters, and it should not be shared with anyone.
      </p>
    </li>
    <li>
      <h5>Updates to this Privacy Commitment</h5>
      <p>
        We may periodically update this Privacy Policy, and by continuing to use
        our Services after such updates, you agree to the changes.
      </p>
      <p>
        We recommend reviewing the Privacy Policy regularly to stay informed
        about any changes.
      </p>
    </li>
    <li>
      <h5>Opt-Out Policy</h5>
      <p>
        Email Marketing and Confidential Information Sharing: To discontinue
        receiving newsletters or marketing communications from us, or if you
        wish to prevent your email address or any other personal information
        from being shared with third parties, please make use of the
        "unsubscribe" option included in the communication (such as the
        "unsubscribe" link found at the end of our marketing emails) to ensure
        your request is handled.
      </p>
    </li>
    <li>
      <h5>Refund and Cancellation Policy</h5>
      <p>30-Day Satisfaction Guarantee</p>
      <p>
        If our services do not fulfill your expectations, you are entitled to
        request a refund within 30 days from the date of payment. After this
        time frame, any refunds will be converted into service credits, which
        you can use for future services.
      </p>
      <p>
        We understand that you may have inquiries regarding this Privacy
        Commitment, how we manage your Customer Information, or other related
        matters. We invite you to reach out to us with your questions, concerns,
        or feedback by contacting our grievance officer, whose information is
        provided below:
      </p>
    </li>
    <li>
      <h5>Cancellation Policy</h5>
      <p>
        Prior to processing any refunds, we strive to deliver the service to the
        best of our ability. If you are not satisfied, a cancellation fee of 20%
        will be charged. If you choose to change your service, this cancellation
        fee will not be applied.
      </p>
      <p>
        Refunds will incur a minimum cancellation fee of 20%. Furthermore, any
        costs incurred by BGB IT SERVICES PVT LTD in delivering the service will
        be deducted at the company's discretion.
      </p>
      <p>
        The refund amount will be limited to a maximum of 80% of the total
        amount paid by the client.
      </p>
    </li>
    <li>
      <h5>Change of Service</h5>
      <p>
        Clients are permitted to request changes to their service after 30 days
        from the purchase date.
      </p>
    </li>
    <li>
      <h5>Requesting a Refund</h5>
      <p>
        To start a refund request, please log in to your BGB account and click
        on "LIVE CHAT" to initiate the process. Additionally, you can send an
        email to hello@BGB.cloud with the relevant transaction details.
      </p>
      <p>
        Typically, refunds are processed within 3-5 weeks of your request,
        provided that all necessary information has been submitted.
      </p>
    </li>
  </ol>
  <h4>
    3) Terms & Conditions for our Incorporation, Startup, and Registration
    Services
  </h4>
  <ol type="a">
    <li>
      For the purposes of bank account or payment services, your name, phone
      number, and email address will be disclosed to the bank you select,
      contingent upon your approval. Banks retain the authority to approve or
      reject your request based on their internal policies.
    </li>
    <li>
      Should you wish to register a Partnership Firm with the relevant Registrar
      of Firms in your state, additional fees will apply and will be
      communicated in advance.
    </li>
    <li>
      A maximum of four name choices can be submitted in a single RUN name
      approval application.
    </li>
    <li>
      Authorised capital refers to the total number of shares that a company is
      permitted to issue at any given time, which can be increased if necessary.
      Paid-up capital is the actual amount that shareholders contribute, which
      can be as low as Rs.2.
    </li>
    <li>
      Fees for the Statutory Auditor will be paid directly based on actual costs
      to the Independent Auditor selected by the Board of Directors. Every
      company is required to appoint an Independent Statutory Auditor of their
      choice within 30 days following incorporation.
    </li>
    <li>
      SERVEWISE INDIA supplies 2 DSC Hyper Tokens and offers assistance for KYC
      and DSC shipping for every incorporation. According to CCA Guidelines
      effective July 15, 2024, the DSC application must include a direct payment
      to the Certifying Authority for the certificate and KYC services.
    </li>
    <li>
      If necessary, additional authorised capital can be acquired during the
      incorporation process. The cost for this extra authorised capital can be
      provided upon request.
    </li>
    <li>
      Clients must bear the stamp duty costs, which differ based on the state of
      incorporation and the registered capital of the company.
    </li>
  </ol>

  <h4>
    4) Terms & Conditions for our Intellectual Property services, including
    trademark, patent, and copyright.
  </h4>
  <ol type="i">
    <li>
      Unless stated otherwise, the quoted prices apply to a single class.
      Additional classes will incur extra charges.
    </li>
    <li>
      Prices are applicable for one class only unless specified differently. Any
      extra classes will come with additional fees.
    </li>
    <li>
      It is the client's duty to verify the correctness of the details submitted
      in the trademark applications. SERVEWISE INDIA is not liable for any
      inaccuracies or incomplete information.
    </li>
    <li>
      SERVEWISE INDIA will not be liable for any objections, refusals,
      oppositions, or other complications that may occur during the trademark
      registration process. The client understands that these situations are
      outside the control of SERVEWISE INDIA.
    </li>
    <li>
      SERVEWISE INDIA does not guarantee that the trademark will be accepted or
      registered by the Trademarks Office or through the objection response
      procedure. The acceptance and registration are at the discretion of the
      Trademarks Office. Although SERVEWISE INDIA will make reasonable efforts
      to support the client during the process, final approval cannot be
      assured.
    </li>
    <li>
      The client is responsible for monitoring the progress of their trademark
      application via the IP INDIA portal. SERVEWISE INDIA can offer assistance
      or advice if requested.
    </li>
    <li>
      SERVEWISE INDIA is not liable for Show Cause Hearings or any issues that
      may occur during the objection phase. The client recognizes that these
      matters are beyond the control of SERVEWISE INDIA.
    </li>
    <li>
      SERVEWISE INDIA will uphold the confidentiality of client information
      unless legally obligated to disclose it by a court, administrative
      authority, or other governmental entity.
    </li>
  </ol>

  <h4>
    5) The following Terms & Conditions pertain to our Tax and Compliance
    services.
  </h4>
  <ol type="a">
    <li>
      Services offered by SERVEWISE INDIA Private Limited will depend on the
      packages chosen by clients, with invoices generated at regular intervals.
    </li>
    <li>
      The ultimate pricing for services will be based on the Goods and Services
      Tax (GST) scheme that the client selects from the relevant tax
      authorities.
    </li>
    <li>
      There will be separate charges for the Chartered Accountant's verification
      of the Income Tax Return.
    </li>
    <li>
      Clients are accountable for ensuring the correctness, reliability, and
      completeness of all information included in their returns and filings, as
      well as the accounting records before providing approval and signing. They
      must also disclose all significant and pertinent information. SERVEWISE
      INDIA will not accept liability for any issues stemming from inaccurate or
      incomplete information given by the client.
    </li>
    <li>
      All information supplied by clients will be kept confidential by SERVEWISE
      INDIA and will not be shared with third parties without explicit consent,
      unless required by law or court order. If clients allow us to disclose
      their confidential information under specific conditions, we will comply
      accordingly during the provision of our services, unless directed
      otherwise in writing by the client.
    </li>
    <li>
      Clients must pay all government fees, penalties, statutory audit costs,
      and taxes related to the engagement based on actual amounts incurred. The
      preparation of accounting records and statutory returns will solely be the
      responsibility of SERVEWISE INDIA's accountants.
    </li>
    <li>
      Clients are expected to provide reasonable access to relevant individuals
      and documents, and they are responsible for the completeness and accuracy
      of the information provided to us.
    </li>
    <li>
      Any guidance offered is based on an understanding of the specific
      circumstances of the client.
    </li>
    <li>
      Clients should be aware of deadlines and necessary compliance under
      various laws, acts, regulations, and rules. They are fully responsible for
      ensuring adherence to all applicable legal requirements and will be liable
      for any penalties or losses resulting from non-compliance with relevant
      laws, rules, regulations, and acts.
    </li>
    <li>
      The pricing for GST Returns, TDS, ITR Returns, and PF Return filings is
      applicable for businesses with a turnover not exceeding INR 25 lakhs and
      employing no more than 25 individuals. Businesses surpassing these limits
      will incur additional charges.
    </li>
    <li>
      <h5>Additional Terms</h5>
      for Partnership Compliance / Company Compliance / LLP Compliance:
      <ol type="i">
        <li>
          Package pricing applies to businesses with a turnover of up to INR 25
          lakhs, and extra charges will apply for every additional INR 25 lakhs
          of turnover. The cost of compliance filing may differ based on the
          complexity and size of the business.
        </li>
        <li>
          For clients using the Tax & HR Assist Package, the pricing is
          applicable for 5 employees. Any additional employees will incur extra
          fees for each.
        </li>
        <li>Charges for TDS filing are billed on a quarterly basis.</li>
        <li>Monthly charges apply for ESI, PT, and PF services.</li>
        <li>
          The package prices cover up to 100 invoices each month, with bulk
          import fees applied for every additional 500 invoices processed.
        </li>
        <li>
          Service credits are rewards offered to valued, loyal, or prime
          customers who utilize services from SERVEWISE INDIA.
        </li>
        <li>
          Service credits from SERVEWISE INDIA cannot be converted to cash and
          are not transferable. They can only be utilized for services rendered
          by SERVEWISE INDIA and are restricted to the specific business for
          which they were awarded.
        </li>
        <li>
          Startups that pay INR 19,899 for compliance management services for a
          company will qualify for a service credit of INR 5,000.
        </li>
      </ol>
    </li>
    <li>
      <h5>Additional Terms for Winding Up - Company / LLP:</h5>
      <ol type="i">
        <li>
          A company that has not initiated business activities within a year of
          incorporation, or that has not engaged in any operations for two
          consecutive financial years without applying for dormant status under
          section 455, and has no transactions, revenue, assets, or liabilities
          during this inactive period, is eligible for strike-off.
        </li>
        <li>
          A company that has received STK-1 or STK-5 notices must complete all
          compliance requirements prior to filing STK-2. Initiation of business
          is a prerequisite for applying for STK-2. All directors must
          unanimously agree to the removal of the company’s name from the
          Registrar of Companies and must sign all relevant documents.
        </li>
        <li>
          Additionally, the Directors' DIN eKYC and DSC must remain active until
          the e-filing status of the company shows "UNDER PROCESS OF STRIKE
          OFF."
        </li>
        <li>
          A company should not close its current bank account if it expects to
          receive refunds, chargebacks, or subsidies. The winding-up process can
          begin only after all receivables are credited to the current account
          to avoid financial losses. Once these receivables are received, the
          account may be closed, and the winding-up process can start.
        </li>
        <li>
          The authorized director is responsible for executing the closure of
          the current account and for the cancellation of the Professional Tax,
          Import Export Code, Trademark, and ESI & PF registrations under the
          company’s name through offline procedures with the relevant
          authorities.
        </li>
        <li>
          A company is not eligible for strike-off if it has changed its name,
          moved its registered office to a different state, disposed of assets
          or rights (subject to specific conditions), or engaged in activities
          beyond those necessary for filing an application under the relevant
          provisions. Moreover, a company cannot be struck off if it has
          submitted an application to the Tribunal for a compromise or
          arrangement that has not been resolved, or if it has been wound up
          under Chapter XX, whether voluntarily, by the Tribunal, or under the
          Insolvency and Bankruptcy Code (IBC), 2016.
        </li>
        <li>
          The STK-2 form for winding up is not applicable to Section-8
          companies, Nidhi companies, subsidiaries, or public limited companies.
        </li>
        <li>
          SERVEWISE INDIA cannot be held liable for the rejection of STK-2
          submissions if the client directs us to proceed without meeting the
          necessary eligibility criteria.
        </li>
        <li>
          Additional charges will be applied if the number of transactions in
          the BANK ACCOUNT STATEMENT exceeds 100 entries.
        </li>
        <li>
          The client will be responsible for government fees amounting to
          Rs.10,000, costs associated with stamp paper, notary services, and any
          applicable taxes and penalties.
        </li>
        <li>
          For LLPs, clients are also responsible for an additional government
          fee of Rs.1,000.
        </li>
        <li>
          The stated pricing for LLPs is applicable only to those LLPs that do
          not have any assets or liabilities.
        </li>
        <li>
          Separate forms are required to be filed with the Ministry of Corporate
          Affairs (MCA) to update the registered office address or email ID, as
          well as for adding or removing partners, with additional charges
          applicable.
        </li>
        <li>
          Separate forms must be filed with the Ministry of Corporate Affairs
          (MCA) for updating the registered office address or email ID, and for
          adding or removing partners, with applicable additional fees.
        </li>
      </ol>
    </li>
  </ol>

  <h4>6) Terms & Conditions for Refunds and Cancellations</h4>
  <p>
    At SERVEWISE INDIA, we are committed to delivering high-quality services and
    ensuring your satisfaction. Our continuous efforts aim to enhance our
    accounting, financial, and secretarial services offered online. However, if
    you find our services unsatisfactory, please reach out to us right away. We
    will address your concerns, offer a refund, or provide a credit for future
    orders with SERVEWISE INDIA.
  </p>
  <ol type="a">
    <li>
      <h5>Not Happy? Reach Out!</h5>
      If you’re not satisfied with our service, simply log into the iCFO Portal
      and submit a ticket for the relevant engagement to start the refund
      process. All support requests are reviewed by our Senior Management and
      will receive a personal response within 24-48 hours.
    </li>
    <li>
      <h5>Refund Guidelines</h5>
      The service obligation of SERVEWISE INDIA Private Limited is deemed
      fulfilled once you gain access to our platform. All subsequent
      responsibilities, including the final results of the service, rest solely
      with the client. It is essential for clients to ensure the accuracy of the
      information provided. Consequently, SERVEWISE INDIA will not cover any
      penalties or taxes incurred by clients. Furthermore, SERVEWISE INDIA is
      not liable for any additional costs incurred by clients in relation to the
      service's completion or its outcomes. A cancellation charge of 20% will
      apply to all refunds.
    </li>
    <li>
      <h5>How to Request a Refund</h5>
      You can initiate a refund request through the iCFO Platform after logging
      in. To request a refund, please post your request in the relevant chat
      room addressed to the engagement manager. All refund requests must be
      submitted within 60 days of purchase. Requests made after 60 days will not
      be accepted, and only credit will be available for service completion or
      changes. We will aim to process your refund request within 4 to 5 weeks of
      receiving all required information, including the reason for the refund
      and bank details.
    </li>
    <li>
      <h5>Service Modification</h5>
      If you wish to modify the service you ordered for a different one, you
      must submit this request within 7 days of the purchase date.
    </li>
    <li>
      <h5>Standard Pricing Policy</h5>
      SERVEWISE INDIA adheres to a standard pricing model that does not impose
      additional service fees under any circumstances. However, this standard
      pricing does not apply if the total fee paid by the client increases due
      to government fee adjustments or costs incurred for completing legal
      documentation or re-filing forms with the government due to rejections or
      resubmissions. SERVEWISE INDIA is not responsible for any other costs
      incurred by clients related to service completion.
    </li>
    <li>
      <h5>Uncontrollable Factors</h5>
      We cannot guarantee specific results or outcomes for your procedures. For
      example, a trademark application might be rejected by the government for
      legal reasons beyond SERVEWISE INDIA’s control. Additionally, delays due
      to government backlogs or issues with platforms like MCA, Income Tax, or
      FSSAI websites can extend processing times. Similarly, SERVEWISE INDIA
      does not assure outcomes from services provided by Associates on the
      Nearest.Expert platform, as they are not employees of SERVEWISE INDIA.
      Such issues are beyond our control and are not eligible for refunds.
      Therefore, any delays caused by government processing cannot justify a
      refund.
    </li>
    <li>
      <h5>Force Majeure Clause</h5>
      SERVEWISE INDIA will not be held in violation of its Satisfaction
      Guarantee or any service terms, nor liable to the Client for any
      interruption, delay, or cessation of service obligations due to events
      such as earthquakes, floods, fires, storms, droughts, landslides,
      hurricanes, epidemics, acts of God, public disturbances, changes in law,
      wars, terrorism, labor strikes, and other unforeseen events beyond our
      control (collectively referred to as "Force Majeure Events").
    </li>
    <li>
      <h5>Cancellation Charges</h5>
      Since we incur costs and allocate time, manpower, technology, and effort
      for your service or document preparation, our guarantee only covers
      satisfaction issues stemming from SERVEWISE INDIA's actions, not personal
      changes in your circumstances or mindset. If you need us to pause the
      processing of a service, we will retain the fee paid in your account until
      you are ready to resume the service.
    </li>
  </ol>
</div>
